HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
src/main/resources/private_key.txt
src/main/resources/wallet_address.txt
src/main/resources/private_key_id.txt
src/test/resources/private_key.txt
src/test/resources/private_key_id.txt
src/main/resources/binance_api_key.txt
src/main/resources/binance_secret_key.txt
src/test/resources/binance_api_key.txt
src/test/resources/binance_secret_key.txt
src/test/resources/crypto_com_api_key.txt
src/test/resources/crypto_com_secret_key.txt
src/test/resources/wallet_address.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
